body { background-color:#ddd; }
.wrapper {
	width: 600px;
	height: 400px;
	background-color: #fff;
	border: solid 1px #aaa;
	padding: 15px;
	font-family: Georgia, serif;
	overflow: hidden;
	position: absolute;
	top: 100px;
	left: 50%;
	margin: 0 0 0 -316px;
	-webkit-transition: all .5s ease-in-out;
}

.transition-out {
	opacity: 0;
	-webkit-transform: scale(.75) rotate(-10deg);
}

.transition-in {
	opacity: 0;
	-webkit-transform: scale(1.25) rotate(10deg);
}

h1 {
	font-family: Helvetica, Arial, sans-serif;
	margin:0;
	text-align: center;
}

.nav {
	list-style: none;
	padding: 0;
	margin: 1em;
	text-align: center;
}
.nav li {
	display: inline-block;
	padding: 0;
	margin: 0;
}
a {
	color: rgb(0,144,210);
	padding: .2em 0.5em;
}
a:hover { text-decoration:none; }

.content {
	float:left;
	width: 48%;
	margin-right: 4%;
	line-height: 1.4em;
}
.media {
	float: right;
	width: 48%;
	padding-top: 1em;
}
img {
	max-width: 100%;
}